option_settings:
  - namespace: aws:autoscaling:scheduledaction
    resource_name: NightlyPeak
    option_name: MinSize
    value: 3
  - namespace: aws:autoscaling:scheduledaction
    resource_name: NightlyPeak
    option_name: MaxSize
    value: 3
  - namespace: aws:autoscaling:scheduledaction
    resource_name: NightlyPeak
    option_name: DesiredCapacity
    value: 3
  - namespace: aws:autoscaling:scheduledaction
    resource_name: NightlyPeak
    option_name: Recurrence
    value: "40 21 * * *"

  - namespace: aws:autoscaling:scheduledaction
    resource_name: NormalBusiness
    option_name: MinSize
    value: 1
  - namespace: aws:autoscaling:scheduledaction
    resource_name: NormalBusiness
    option_name: MaxSize
    value: 1
  - namespace: aws:autoscaling:scheduledaction
    resource_name: NormalBusiness
    option_name: DesiredCapacity
    value: 1
  - namespace: aws:autoscaling:scheduledaction
    resource_name: NormalBusiness
    option_name: Recurrence
    value: "30 5 * * *"
